body {
    overflow: hidden;
    /* width: 100%; */
    height: 100vh;
    margin: 0;
    padding:0;
    background-color: black;
    background-image: url("../img/bg.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
}
.greyout {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    top: 0px;
    left: 0px;
}
.lbg {
    margin: 0 auto;
    border: 1px solid #2b3f6086;
    background-color: #0b113171;
    z-index: 0;
    width: 100%;
}
#wrap {
    top: 0;
    margin: 0 auto;
    width: 20%;
    height: 40%;
    text-align: center;
}
#wrap h1 {
    margin-top: 10%;
    margin: 1% auto;
    color: white;
    width: 60%;
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#content{
    z-index: 1;
}
#content form{
    width: 100%;
    margin: 0 auto;
}
#content form input {
    margin: 1%;
    background-color:#131B22;
    border:solid 1px #A4864E;
    font-size:14px;
    color:#FFFFFF;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}
#content button {
    margin-bottom: 1%;
}

#videobg {
    margin-bottom: 1%;
    color: white;
    font-weight: bold;
}
#videobg a {
    text-align: center;
    color: white;
}


/* Yes the Video Backgrounds are made in css lol */
.video1 {
    margin: 0 auto;
    background-image: url("../img/login/1.gif");
    /* width: 100%; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}
.video2 {
    margin: 0 auto;
    background-image: url("../img/login/2.gif");
    /* width: 100%; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}
.video3 {
    margin: 0 auto;
    background-image: url("../img/login/3.gif");
    /* width: 100%; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}
.video4 {
    margin: 0 auto;
    background-image: url("../img/login/4.gif");
    /* width: 100%; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}
.video5 {
    margin: 0 auto;
    background-image: url("../img/login/5.gif");
    /* width: 100%; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}
.video6 {
    margin: 0 auto;
    background-image: url("../img/login/6.gif");
    /* width: 100%; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}

.video7 {
    margin: 0 auto;
    background-image: url("../img/login/7.gif");
    /* width: 100%; */
    height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}

/* Just copy a existing bg class for your own or replace the original gif */

/* Button */


.login_btn {
    background: #1E2328;
    background-image: -webkit-linear-gradient(top, #1E2328, #1E2328);
    background-image: -moz-linear-gradient(top, #1E2328, #1E2328);
    background-image: -ms-linear-gradient(top, #1E2328, #1E2328);
    background-image: -o-linear-gradient(top, #1E2328, #1E2328);
    background-image: linear-gradient(to bottom, #1E2328, #1E2328);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    margin-right: 25px;
    margin-left: 25px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #C6A86C 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 1%;
 }
 
 .login_btn:hover {
    background: #273742;
    background-image: -webkit-linear-gradient(top, #273742, #4B6A80);
    background-image: -moz-linear-gradient(top, #273742, #4B6A80);
    background-image: -ms-linear-gradient(top, #273742, #4B6A80);
    background-image: -o-linear-gradient(top, #273742, #4B6A80);
    background-image: linear-gradient(to bottom, #273742, #4B6A80);
    text-decoration: none;
 }
.hide {
    display: none;
}
.show {
    display: inline-block;
}
 #loading h3{
     margin: 0;
     color: White;
 }
 #loading img{
     width: 50%;
     margin:0;
 }
#loading {
    margin-top: 40%;
}
